@model DeAnWEB.Models.ViewModel.HomeProductVM

﻿@{
    ViewBag.Title = "Home";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/Home.css" />
}
<div class="allpage">
    <div class="banner">
        <img src="~/Content/Images/10.10_Voucher_1545_500_V.png" />
    </div>
    <div class="voucher-container">
        <span style="color:dodgerblue; font-size:30px; font-weight:bold;">DEAL CHỒNG DEAL</span>
    </div>
    <div class="voucher-container">
        <div class="voucher">
            <img src="~/Content/Images/HP_10.10_VOUVHER_150_VN.png" />
        </div>
        <div class="voucher">
            <img src="~/Content/Images/HP_10.10_VOUVHER_250_VN.png" />
        </div>
        <div class="voucher">
            <img src="~/Content/Images/HP_10.10_VOUVHER_500_VN.png" />
        </div>
    </div>
    <div class="combo-container">
        <span style="color:dodgerblue; font-size:30px; font-weight:bold;">Danh mục sản phẩm</span>
    </div>
    <div class="combo-container">
        <div class="combo">
            <a href="@Url.Action("Category","Home")"><img src="~/Content/Images/DM.png">  </a> <!--Phần hiện ảnh cho từng category-->
        </div>
    </div>
    @*Phần Sản Phẩm Nổi Bật*@
    @Html.Partial("_PVFeatureProduct", Model)

    <div class="combo-container">
        <span style="color:dodgerblue; font-size:30px; font-weight:bold;">THƯƠNG HIỆU ĐƯỢC YÊU THÍCH NHẤT</span>
    </div>
    <div class="combo-container">
        <div class="combo">
            <a href="@Url.Action("Category","Home")"><img src="~/Content/Images/HP_10.10_TOP_NIKE_VN.png" /></a>
        </div>
        <div class="combo">
            <a href="@Url.Action("Category","Home")"><img src="~/Content/Images/HP_10.10_TOP_DAS_VN.png" /></a>
        </div>
    </div>
    <div class="combo-container">
        <div class="combo">
            <a href="@Url.Action("Category","Home")"><img src="~/Content/Images/HP_10.10_TOP_UA_VN.png" /></a>
        </div>
        <div class="combo">
            <a href="@Url.Action("Category","Home")"><img src="~/Content/Images/HP_10.10_TOP_COLUM_VN.png" /></a>
        </div>
    </div>

    <div class="combo-container">
        <span style="color:dodgerblue; font-size:30px; font-weight:bold;">MÔN THỂ THAO YÊU THÍCH CỦA BẠN</span>
    </div>
    <div class="combo-container">
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_SPORT_RUNNING_VN.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_SPORT_TRAINING_VN.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_SPORT_LIFESTYLE_VN.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/HP_10.10_SPORT_OUTDOOR_VN.png" />
        </div>
    </div>
    <div class="banner">
        <img src="~/Content/Images/HP_10.10_2-30_KV_NO_VN.png" />
    </div>
    <div class="banner">
        <img src="~/Content/Images/Speedo_Special_price_09-23.10_1960_740_no_cta_V.png" />
    </div>
    <div class="newcombo-container">
        <span style="color:black; font-size:30px; font-weight:bold;">BỘ SƯU TẬP MỚI</span>
    </div>
    <div class="slider">
        <div class="slider-track">
            <img src="~/Content/Images/T10_NL_DAS_WC2026_VN.png" />
            <img src="~/Content/Images/T10_NL_HOKA_NEWNESS_VN.png" />
            <img src="~/Content/Images/T09_NL_ASICS_TOKYO_VN.png" />
            <img src="~/Content/Images/T09_NL_PUMA_Portugal_Jersey_VN.png" />
            <img src="~/Content/Images/T09_NL_HOKA_Mafate_X_Hike_VN.png" />
            <img src="~/Content/Images/T09_NL_DAS_Liverpool_3rd_Jersey_VN.png" />
            <img src="~/Content/Images/T09_NL_CROCS_Nightmare_before_Christmas_VN.png" />
            <img src="~/Content/Images/T09_NL_NIKE_VOMERO_18_VN.png" />
        </div>
    </div>
    <div class="newcombo-container">
        <span style="color:black; font-size:30px; font-weight:bold;">BỘ SƯU TẬP NỔI BẬT</span>
    </div>
    <div class="slider">
        <div class="slider-track">
            <img src="~/Content/Images/Bộ_sưu_tập_mới_1.png" />
            <img src="~/Content/Images/Bộ_sưu_tập_mới_2.png" />
            <img src="~/Content/Images/Bộ_sưu_tập_mới_3.png" />
            <img src="~/Content/Images/Bộ_sưu_tập_mới_4.png" />
            <img src="~/Content/Images/Bộ_sưu_tập_mới_5.png" />
            <img src="~/Content/Images/Bộ_sưu_tập_mới_6.png" />
            <img src="~/Content/Images/Bộ_sưu_tập_mới_7.png" />
            <img src="~/Content/Images/Bộ_sưu_tập_mới_8.png" />
            <img src="~/Content/Images/Bộ_sưu_tập_mới_9.png" />
            <img src="~/Content/Images/Bộ_sưu_tập_mới_10.png" />
        </div>
    </div>
    <div class="newcombo-container">
        <span style="color:black; font-size:30px; font-weight:bold;">THƯƠNG HIỆU NỔI BẬT</span>
    </div>
    <div class="newcombo-container">
        <div class="combo">
            <img src="~/Content/Images/1brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/2brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/3brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/4brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/5brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/6brand.png" />
        </div>
    </div>
    <div class="newcombo-container">
        <div class="combo">
            <img src="~/Content/Images/7brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/8brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/9brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/10brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/11brand.png" />
        </div>
        <div class="combo">
            <img src="~/Content/Images/12brand.png" />
        </div>
    </div>
    <div class="newcombo-container">
        <span style="color:black; font-size:30px; font-weight:bold;">MÔN THỂ THAO YÊU THÍCH</span>
    </div>
    <div class="slider">
        <div class="slider-track">
            <img src="~/Content/Images/LoveSport.png" />
            <img src="~/Content/Images/2LoveSport.png" />
            <img src="~/Content/Images/3LoveSport.png" />
            <img src="~/Content/Images/4LoveSport.png" />
            <img src="~/Content/Images/5LoveSport.png" />
            <img src="~/Content/Images/6LoveSport.png" />
            <img src="~/Content/Images/7LoveSport.png" />
            <img src="~/Content/Images/8LoveSport.png" />
            <img src="~/Content/Images/9LoveSport.png" />
            <img src="~/Content/Images/10LoveSport.png" />
        </div>
    </div>

    <div class="brand-container">
        <button class="brand-btn active" data-target="news-hot">Tin nổi bật</button>
        <button class="brand-btn" data-target="news-sale">Tin khuyến mãi</button>
        <button class="brand-btn" data-target="news-style">Mẹo thời trang</button>
    </div>
    <!-- Khu vực hiển thị nội dung theo từng tab -->
    <!-- Tin nổi bật -->
    <div id="news-hot" class="brand-section active">
        <div class="slider" id="slider-hot">
            <div class="slider-track">
                <img src="@Url.Content("~/Content/Images/hot1.png")" alt="Hot 1">
                <img src="@Url.Content("~/Content/Images/hot2.png")" alt="Hot 2">
                <img src="@Url.Content("~/Content/Images/hot3.png")" alt="Hot 3">
                <img src="@Url.Content("~/Content/Images/hot4.png")" alt="Hot 4">
            </div>
        </div>
    </div>

    <!-- Tin khuyến mãi -->
    <div id="news-sale" class="brand-section">
        <div class="slider" id="slider-sale">
            <div class="slider-track">
                <img src="@Url.Content("~/Content/Images/sale1.png")" alt="Sale 1">
                <img src="@Url.Content("~/Content/Images/sale2.png")" alt="Sale 2">
                <img src="@Url.Content("~/Content/Images/sale3.png")" alt="Sale 3">
                <img src="@Url.Content("~/Content/Images/sale4.png")" alt="Sale 4">
            </div>
        </div>
    </div>

    <!-- Mẹo thời trang -->
    <div id="news-style" class="brand-section">
        <div class="slider" id="slider-style">
            <div class="slider-track">
                <img src="@Url.Content("~/Content/Images/style1.png")" alt="Style 1">
                <img src="@Url.Content("~/Content/Images/style2.png")" alt="Style 2">
                <img src="@Url.Content("~/Content/Images/style3.png")" alt="Style 3">
                <img src="@Url.Content("~/Content/Images/style4.png")" alt="Style 4">
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/Home.js")"></script>
</div>