﻿@model DeAnWEB.Models.ViewModel.ChangePasswordVM

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/Login.css" />
}


<div class="login-container">
    @using (Html.BeginForm("ChangePassword", "Accounts", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="login-box">
            <div class="mb-3">
                <h2 class="col-md-6" style="text-align:left;">Đổi mật khẩu</h2>
            </div>

            <div>
                @Html.LabelFor(m => m.Username)
                @Html.EditorFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div>

            <div>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <button type="submit">Đổi mật khẩu</button>
            @if (ViewBag.Message != null)
            {
                <p style="color:green">@ViewBag.Message</p>
            }
        </div>
    }
</div>