@{
    ViewBag.Title = "Category";
}
@section styles {
    <link rel="stylesheet" href="~/Content/Css/Category.css" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

</head>
<body>
    <div class="allpage">
        <div class="banner">
            <img src="~/Content/Images/CategoryBanner.png" />
        </div>
        <div class="combo-container">
            <span style="color:black; font-weight:bold;">THƯƠNG HIỆU ĐƯỢC YÊU THÍCH NHẤT</span>
        </div>
        <div class="combo-container">
            <div class="combo">
                <img src="~/Content/Images/CategoryLogo.png" />
            </div>
            <div class="combo">
                <img src="~/Content/Images/CategoryLogo1.png" />
            </div>
            <div class="combo">
                <img src="~/Content/Images/CategoryLogo2.png" />
            </div>
            <div class="combo">
                <img src="~/Content/Images/CategoryLogo3.png" />
            </div>
        </div>
        <div class="container">
            <div class="sidebar">
                <!-- Filter Summary (lọc theo) -->
                <div class="filter-summary">
                    <div class="summary-header">
                        <span>LỌC THEO</span>
                        <button class="clear-all">XÓA TẤT CẢ</button>
                    </div>
                    <div class="summary-body" id="summary-body">

                    </div>
                </div>
                <!-- Giới tính -->
                <div class="filter-group">
                    <div class="filter-title">GIỚI TÍNH <span class="arrow"></span></div>
                    <ul class="filter-options">
                        <li>
                            <label>
                                <input type="checkbox" value="Nam">
                                <span class="option-name">Nam</span>
                                <span class="option-count">(466)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Nữ">
                                <span class="option-name">Nữ</span>
                                <span class="option-count">(361)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Bé trai">
                                <span class="option-name">Bé trai</span>
                                <span class="option-count">(2)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Bé gái">
                                <span class="option-name">Bé gái</span>
                                <span class="option-count">(2)</span>
                            </label>
                        </li>
                    </ul>
                </div>

                <!-- Thương hiệu -->
                <div class="filter-group">
                    <div class="filter-title">THƯƠNG HIỆU <span class="arrow"></span></div>
                    <ul class="filter-options">
                        <li>
                            <label>
                                <input type="checkbox" value="Adidas">
                                <span class="option-name">Adidas</span>
                                <span class="option-count">(113)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Asics">
                                <span class="option-name">Asics</span>
                                <span class="option-count">(38)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Brooks">
                                <span class="option-name">Brooks</span>
                                <span class="option-count">(21)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Columbia">
                                <span class="option-name">Columbia</span>
                                <span class="option-count">(21)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Hoka">
                                <span class="option-name">Hoka</span>
                                <span class="option-count">(163)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Mizuno">
                                <span class="option-name">Mizuno</span>
                                <span class="option-count">(44)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Nike">
                                <span class="option-name">Nike</span>
                                <span class="option-count">(87)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="On Running">
                                <span class="option-name">On Running</span>
                                <span class="option-count">(29)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Prospecs">
                                <span class="option-name">Prospecs</span>
                                <span class="option-count">(1)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Puma">
                                <span class="option-name">Puma</span>
                                <span class="option-count">(2)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Saucony">
                                <span class="option-name">Saucony</span>
                                <span class="option-count">(13)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Skechers">
                                <span class="option-name">Skechers</span>
                                <span class="option-count">(13)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="Under Armour">
                                <span class="option-name">Under Armour</span>
                                <span class="option-count">(161)</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- % Giảm giá -->
                <div class="filter-group">
                    <div class="filter-title">PHẦN TRĂM GIẢM<span class="arrow"></span></div>
                    <ul class="filter-options">
                        <li>
                            <label>
                                <input type="checkbox" value="DƯỚI 10%">
                                <span class="option-name">DƯỚI 10%</span>
                                <span class="option-count">(104)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="20% - 30%">
                                <span class="option-name">20% - 30%</span>
                                <span class="option-count">(50)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="30% - 40%">
                                <span class="option-name">30% - 40%</span>
                                <span class="option-count">(41)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="40% - 50%">
                                <span class="option-name">40% - 50%</span>
                                <span class="option-count">(204)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="TRÊN 50%">
                                <span class="option-name">TRÊN 50%</span>
                                <span class="option-count">(251)</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- Giá -->
                <div class="filter-group">
                    <div class="filter-title">GIÁ <span class="arrow"></span></div>
                    <ul class="filter-options">
                        <li>
                            <label>
                                <input type="checkbox" value="1.000.000đ - 2.000.000đ">
                                <span class="option-name">1.000.000đ - 2.000.000đ</span>
                                <span class="option-count">(17)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="2.000.000đ - 3.000.000đ">
                                <span class="option-name">2.000.000đ - 3.000.000đ</span>
                                <span class="option-count">(53)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="3.000.000đ - 4.000.000đ">
                                <span class="option-name">3.000.000đ - 4.000.000đ</span>
                                <span class="option-count">(30)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="4.000.000đ - 5.000.000đ">
                                <span class="option-name">4.000.000đ - 5.000.000đ</span>
                                <span class="option-count">(11)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="TRÊN 5.000.000đ">
                                <span class="option-name">TRÊN 5.000.000đ</span>
                                <span class="option-count">(2)</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- Môn thể thao -->
                <div class="filter-group">
                    <div class="filter-title">MÔN THỂ THAO <span class="arrow"></span></div>
                    <ul class="filter-options">
                        <li>
                            <label>
                                <input type="checkbox" value="CHẠY BỘ">
                                <span class="option-name">CHẠY BỘ</span>
                                <span class="option-count">(425)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="CHẠY TRAIL">
                                <span class="option-name">CHẠY TRAIL</span>
                                <span class="option-count">(27)</span>
                            </label>
                        </li>
                    </ul>
                </div>
                <!-- Kiểu dáng -->
                <div class="filter-group">
                    <div class="filter-title">KIỂU DÁNG <span class="arrow"></span></div>
                    <ul class="filter-options">
                        <li>
                            <label>
                                <input type="checkbox" value="ÔM (SNUG FIT)">
                                <span class="option-name">ÔM (SNUG FIT)</span>
                                <span class="option-count">(4)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="RỘNG (WIDE FIT)">
                                <span class="option-name">RỘNG (WIDE FIT)</span>
                                <span class="option-count">(20)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="RỘNG RÃI (LOOSE FIT)">
                                <span class="option-name">RỘNG RÃI (LOOSE FIT)</span>
                                <span class="option-count">(1)</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" value="VỪA VẶN (REGULAR FIT)">
                                <span class="option-name">VỪA VẶN (REGULAR FIT)</span>
                                <span class="option-count">(423)</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-area">
                <!-- THANH SEARCH & SẮP XẾP -->
                <div class="product-toolbar">
                    <div class="search-bar">
                        <input type="text" id="productSearch" placeholder="Tìm kiếm sản phẩm trong trang này" />
                        <button> <span class="material-symbols-outlined">search</span> </button>
                    </div>
                    <div class="sort-box">
                        <button id="sort-btn">Sắp Xếp <span class="arrow">&#9662;</span></button>
                        <div id="sort-popup" class="sort-popup">
                            <ul>
                                <li>Liên quan</li>
                                <li>Bán chạy nhất</li>
                                <li>Mới nhất</li>
                                <li>Giá giảm dần</li>
                                <li>Giá tăng dần</li>
                                <li>Cũ đến mới</li>
                                <li>Sắp xếp</li>
                                <li>A-Z</li>
                                <li>Z-A</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <a href="@Url.Action("DetailProduct_White","Home")">
                        <div class="product-card">
                            <img src="~/Content/Images/WP2.jpg">

                            <h4>Giày Đá Bóng Dành Cho Sân Cỏ Nhân Tạo Nam Adidas F50 League Tf - Trắng</h4>
                            <p>2.400.000đ</p>
                        </div>
                    </a>
                    <a href="@Url.Action("DetailProduct_Black","Home")">
                        <div class="product-card">
                            <img src="~/Content/Images/BP2.jpg">

                            <h4>Giày Đá Bóng Dành Cho Sân Cỏ Nhân Tạo Nam Adidas F50 League Tf - Đen</h4>
                            <p>2.400.000đ</p>
                        </div>
                    </a>
                    <a href="@Url.Action("DetailProduct_Purple","Home")">
                        <div class="product-card">
                            <img src="~/Content/Images/PP2.jpg">

                            <h4>Giày Đá Bóng Dành Cho Sân Cỏ Nhân Tạo Nam Adidas F50 League Tf - Tím</h4>
                            <p>2.400.000đ</p>
                        </div>
                    </a>
                    <a href="@Url.Action("DetailProduct_Orange","Home")">
                        <div class="product-card">
                            <img src="~/Content/Images/OP2.jpg">

                            <h4>Giày Đá Bóng Dành Cho Sân Cỏ Nhân Tạo Nam Adidas F50 League Tf - Cam</h4>
                            <p>2.400.000đ</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- KHUNG THÔNG TIN -->
        <div class="product-info-box">
            <h2>GIÀY CHẠY BỘ</h2>
            <hr>
            <h3>Khám Phá Thế Giới Giày Chạy Bộ Chính Hãng Tại Supersports</h3>
            <p>
                Chạy bộ là cách để bạn cân bằng nhịp sống và nâng sức bền mỗi ngày.
                Tại Supersports, bạn dễ dàng tìm thấy <b>giày chạy bộ</b> phù hợp mọi mục tiêu,
                với cam kết <b>chính hãng 100%</b>.
                Dù bạn đang tìm <b>giày chạy bộ nam</b> hay <b>giày chạy bộ nữ</b>,
                bộ sưu tập <b>giày chạy bộ Supersports</b> luôn đa dạng về kiểu dáng, công nghệ và mức giá,
                sẵn sàng đồng hành trên mọi cung đường.
            </p>

            <h3>Giày Chạy Bộ Theo Nhu Cầu</h3>
            <h3>Giày Chạy Bộ Hàng Ngày</h3>
            <p>
                Thoải mái, dễ mang, giày chạy bộ hàng ngày là lựa chọn tuyệt vời cho những bước chạy nhẹ nhàng để rèn luyện sức khỏe.
            </p>

            <h3>Giày Chạy Marathon</h3>
            <p>
                Dành cho những runner đam mê chinh phục cự ly dài, giày chạy marathon chú trọng khả năng giảm chấn và độ bền,
                đồng hành bền bỉ cùng bạn trên từng km.
            </p>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const summaryBody = document.getElementById("summary-body");
            const clearAllBtn = document.querySelector(".clear-all");

            // Toggle filter dropdown
            document.querySelectorAll(".filter-title").forEach(title => {
                title.addEventListener("click", function () {
                    const options = this.nextElementSibling;
                    const isOpen = options.style.display === "block";
                    options.style.display = isOpen ? "none" : "block";
                    this.classList.toggle("active", !isOpen);
                });
            });

            // Checkbox change
            document.querySelectorAll(".filter-options input[type='checkbox']").forEach(cb => {
                cb.addEventListener("change", function () {
                    if (this.checked) {
                        addTag(this);
                    } else {
                        removeTag(this);
                    }
                });
            });

            // Thêm tag riêng cho mỗi checkbox
            function addTag(checkbox) {
                const groupName = checkbox.closest(".filter-group")
                    .querySelector(".filter-title").childNodes[0].textContent.trim();
                const tag = document.createElement("div");
                tag.className = "filter-tag";
                tag.setAttribute("data-value", checkbox.value);
                tag.setAttribute("data-group", groupName);
                tag.innerHTML = `${groupName}: ${checkbox.value} <button type="button">&times;</button>`;

                // Xử lý nút xóa trong tag
                tag.querySelector("button").addEventListener("click", function () {
                    checkbox.checked = false;
                    tag.remove();
                });

                summaryBody.appendChild(tag);
            }

            // Xóa tag khi checkbox bỏ chọn
            function removeTag(checkbox) {
                const groupName = checkbox.closest(".filter-group")
                    .querySelector(".filter-title").childNodes[0].textContent.trim();
                const tag = summaryBody.querySelector(`.filter-tag[data-value="${checkbox.value}"][data-group="${groupName}"]`);
                if (tag) tag.remove();
            }

            // Clear all
            clearAllBtn.addEventListener("click", function () {
                summaryBody.innerHTML = "";
                document.querySelectorAll(".filter-options input[type='checkbox']").forEach(cb => cb.checked = false);
            });
            // SEARCH SẢN PHẨM
            document.getElementById("productSearch").addEventListener("input", function () {
                const query = this.value.toLowerCase();
                document.querySelectorAll(".product-card").forEach(card => {
                    const name = card.querySelector("h4").textContent.toLowerCase();
                    card.style.display = name.includes(query) ? "block" : "none";
                });
            });

            // Popup sắp xếp
            const sortBtn = document.getElementById('sort-btn');
            const sortPopup = document.getElementById('sort-popup');
            const arrow = sortBtn.querySelector('.arrow');

            sortBtn.addEventListener('click', () => {
                const isOpen = sortPopup.style.display === 'block';
                sortPopup.style.display = isOpen ? 'none' : 'block';
                arrow.classList.toggle('open', !isOpen);
            });

            // Đóng popup khi click ra ngoài
            document.addEventListener('click', (e) => {
                if (!sortBtn.contains(e.target) && !sortPopup.contains(e.target)) {
                    sortPopup.style.display = 'none';
                    arrow.classList.remove('open');
                }
            });

            // Bắt sự kiện chọn sắp xếp
            document.querySelectorAll('.sort-popup li').forEach(item => {
                item.addEventListener('click', () => {
                    alert("Đã chọn: " + item.textContent);
                    sortPopup.style.display = 'none';
                    arrow.classList.remove('open');
                });
            });

            // Thanh tìm kiếm
            document.getElementById('product-search').addEventListener('input', function () {
                const keyword = this.value.toLowerCase();
                const items = document.querySelectorAll('.product-item');
                items.forEach(item => {
                    const name = item.querySelector('.product-name')?.textContent.toLowerCase() || '';
                    item.style.display = name.includes(keyword) ? '' : 'none';
                });
            });
        });
    </script>
</body>
</html>